{% extends 'base.html' %}

{% block title %}Contacto{% endblock %}

{% block content %}
<div class="container">
    <header class="bg-primary text-white text-center py-5">
        <h1>Contáctanos</h1>
    </header>
    
    <section class="mt-4">
        <h2>Si tienes alguna pregunta o necesitas asistencia, no dudes en contactarnos utilizando el siguiente formulario:</h2>

        <form action="{% url 'contact_submit' %}" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="name" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Ingresa tu nombre" required>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Correo Electrónico</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Ingresa tu correo electrónico" required>
            </div>
            <div class="mb-3">
                <label for="message" class="form-label">Mensaje</label>
                <textarea class="form-control" id="message" name="message" rows="5" placeholder="Escribe tu mensaje" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Enviar Mensaje</button>
        </form>
    </section>
</div>
{% endblock %}
